.App {
  text-align: center;
  width: 35rem;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App{
  background: #219ebc;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #000;
}

.Navbar{
  background-color: brown;
  padding: 15px  0px ;
}

.Booklist{
  list-style: none;
}

.Booklist ul{
  padding: 0;
  list-style-type: none;
}

.Booklist ul li{
  background: #ffb703;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.Booklist li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}