.App {
  text-align: center;
  width: 35rem;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App{
  background: #BCA88D;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #000;
}

.Navbar{
  background-color: #7D8D86;
  padding: 15px  0px ;
}

.Booklist{
  list-style: none;
}

.Booklist ul{
  padding: 0;
  list-style-type: none;
}

.Booklist ul li{
  background: #62957f;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  text-align: right;
}

.Booklist li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}

form {
  padding: 15px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 0;
  margin: 5px 0px;
  background: #2f473c;
  color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
}


input[type='submit'] {
  padding: 6px 20px;
  display: block;
  margin: 10px auto;
  background: #F1F0E4;
  border: 0;
  border-radius: 8px;
}